/****** General ***********/


* {
  font-family: 'Raleway', sans-serif;
}

html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  max-height: 100%;
  }

:root {
  --main-color: #0065FC;
  --main-bg-color: #F2F2F2;
  --filter-bg-color: #DEEBFF;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: black;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.card-subtitle {
  font-size: 14px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Header ***********/
header {
  height: 79px;
  padding-top: 16px;
  display: flex;
  justify-content: space-between;
}

header img {
  padding-top: 14px;
  padding-bottom: 30px;
  width: 61.09px;
  height: 19px;
}

.header-link {
  padding-top: 16px;
  margin-left: 50px;
  text-decoration: none;
  color: black;
  align-items: end;
}

.header-link:hover{
  border-top-style: solid;
  border-top-color: var(--main-color);
  color: var(--main-color);
}

/****** Top infos ***********/

.top-infos p {
  margin: 0;
}

/****** Recherche ***********/

.search-bar {
  display: flex;
  margin: 25px 0px;
}

.search-bar i {
  background-color: #F2F2F2;
  padding: 15px 18px 18px;
  color: black;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.search-bar input {
  outline: none;
  border: 1px solid #F2F2F2;
  border-left: none;
  border-right: none;
  padding: 14px 0px 14px 24px;
  font-weight: 700;
  font-size: 18px;
}

.search-bar button {
  border: none;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 700;
  padding: 14px 16px;
  background-color: var(--main-color);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: relative;
  left: -30px;
}

.search-bar button i {
  display: none;
}

/****** Filtres ***********/

.filtres {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.btn {
  font-size: 17px;
  font-weight: 700;
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  border: 2px solid #D9D9D9;
  padding: 15px 19px;
  border-radius: 25px;
}

.btn:hover{
  background-color: #DEEBFF;
}

.btn i {
  padding-right: 16px;
}

.info {
  padding-top: 37.5px;
  padding-bottom: 37.5px;
  margin: 0;
}

.info i {
  padding: 7px 10px;
  border: 1px solid #D9D9D9;
  border-radius: 50%;
  margin-right: 16px;
}

/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
  }

.hebergements-cards {
  margin-top: 33px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}

.hebergements-cards img {
  width: 100%;
  height: 124px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 15px 15px;
}

.hebergements-cards .card-subtitle {
  margin: 0;
}

.hebergements-cards h3 {
  margin-top: 4px;
  margin-bottom: 8px;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/****** Activités ***********/

.activités {
  margin-top: 65px;
}

.activités-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  margin-top: 33px;
}

.activités-cards .card {
  margin: 16px;
  padding: 0;
}

.activités-cards .card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 16px;
}

.activités-cards img {
  width: 100%;
  height: 380px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/****** Footer ***********/

footer {
  margin-top: 65px;
  padding: 2px 20px;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(3, 1fr);
  background-color: #F2F2F2;
}

.footer-box {
  box-sizing: inherit;
}

.footer-subtitle {
  font-size: 16px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

@media (min-width: 1500px) {
  .main-container {
    padding: 0 230px;
  }
}

@media (max-width: 1024px) {

  .filtres {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
  }

  .filtres h3 {
    grid-column-start: 1;
    grid-column-end: 5;
  }

  .btn {
    font-size: 16px;
  }

  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 16px;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }

  .activités-cards .card-content{
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 16px;
    }

  .activités-cards img{
    height: 200px;
  }
}

/* Styles for small screens */
@media (max-width: 768px) {

  .main-container {
    padding: 0 25px;
  }

  header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    margin-bottom: 25px;
    border-bottom: solid var(--main-bg-color);
    padding-bottom: 15px;
  }

  header img {
    margin: 0 auto;
  }

  nav {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    width: 100%;
  }

  .header-link {
    padding-bottom: 15px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }

  .header-link:hover{
    border-top: none;
    border-bottom-style: solid;
    border-bottom-color: var(--main-color);
    color: var(--main-color);
    border-bottom-width: 100%;
  }

  .logo {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
  }

  .search-bar button {
    border-radius: 15px;
  }

  .search-bar button span{
    display: none;
  }

  .search-bar button i {
    display: contents;
    color: #FFFFFF;
  }

  .one {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
  }

  .two {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
  }

  .three {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
  }


  .four {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
  }

  .btn {
    font-size: 14px;
    min-width: 150px;
    padding: 17px auto;
  }

  .btn i {
    padding-right: 10px;
  }

  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .hebergements-cards {
    margin-top: 33px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .populaires {
    width: 100%;
    margin-top: 30px; /* adjust margin top as needed */
  }

  .populaires-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .activités-cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 33px;
  }

  .activités-cards img{
    height: 141px;
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}
